In [ ]:
import geopandas
from moredata.models import merging_data
md = merging_data.MergingData

world =  md.from_geodataframe('naturalearth_lowres')
countries = world[['geometry', 'name']]
countries = countries.rename(columns={'name':'country'})
cities = geopandas.read_file(geopandas.datasets.get_path('naturalearth_cities'))
cities_with_country = cities.sjoin(countries, how="inner", predicate='intersects')
cities_with_country.head()

             name                   geometry  index_right  country
0    Vatican City  POINT (12.45339 41.90328)          141    Italy
1      San Marino  POINT (12.44177 43.93610)          141    Italy
192          Rome  POINT (12.48131 41.89790)          141    Italy
2           Vaduz   POINT (9.51667 47.13372)          114  Austria
184        Vienna  POINT (16.36469 48.20196)          114  Austria