In [2]:
import os
import sys

from moredata.enricher import EnricherBuilder, Enricher
from moredata.enricher.sql_connector import SqlConnector
from moredata.models.data import JsonData, GeopandasData
from moredata.parser import parse_document
from moredata.utils import read_json_from_file, Converter, write_json_generator_to_json
from moredata.datasets import get_path

In [3]:
import pandas as pd

df = pd.read_csv(get_path("airbnb-berlin-main"))
df = df.loc[(~df['latitude'].isna()) & (~df['longitude'].isna())]

df.iloc[0:100].to_json('./data/airbnb-berlin.json', orient='records')

In [4]:
from sqlalchemy import create_engine
URL = "mysql+pymysql://root:root@localhost:3306/moredata"
engine = create_engine(URL, echo=False)

extra = pd.read_csv(get_path("airbnb-berlin-extra"))
extra.to_sql('extra', con=engine, if_exists='replace')

19859

In [5]:
pd.read_sql('SELECT id, amenities, accommodates, beds, bedrooms FROM extra', engine)

,id,amenities,accommodates,beds,bedrooms
0,1944,"[""Dishes and silverware"", ""Kitchen"", ""Oven"", ""...",1.0,1.0,1.0
1,2015,"[""Smoke alarm"", ""Cooking basics"", ""Lockbox"", ""...",3.0,0.0,1.0
2,3176,"[""Dedicated workspace"", ""Hangers"", ""Kitchen"", ...",4.0,2.0,1.0
3,3309,"[""Host greets you"", ""Washer"", ""Hangers"", ""Hot ...",1.0,1.0,1.0
4,6883,"[""Smoke alarm"", ""Cooking basics"", ""Dishes and ...",2.0,1.0,1.0
...,...,...,...,...,...
19854,48597066,"[""Dedicated workspace"", ""Hangers"", ""Private en...",2.0,1.0,1.0
19855,48599795,"[""Hot water kettle"", ""Dryer"", ""Hangers"", ""Hot ...",2.0,1.0,1.0
19856,48600069,"[""Air conditioning"", ""Hot water"", ""Elevator"", ...",1.0,1.0,1.0
19857,48602039,"[""Dedicated workspace"", ""Hangers"", ""Kitchen"", ...",1.0,NaN,1.0
19858,48615659,"[""Dedicated workspace"", ""Hangers"", ""Kitchen"", ...",2.0,NaN,1.0

In [5]:
data = JsonData(data_file='./data/airbnb-berlin.json', parser=parse_document)

sql_enricher = Enricher(connector=SqlConnector(connection_url=URL, table_name="extra", column='id', result_attr="extra", dict_keys=["id"]))

data_enriched = sql_enricher.enrich(data)

write_json_generator_to_json("./data/airbnb-berlin-enriched", data_enriched, 100000)

In [7]:
#Geopandas
gdf = pd.read_csv(get_path("airbnb-berlin-main"))
gdf = gdf.loc[(~gdf['latitude'].isna()) & (~gdf['longitude'].isna())]
airbnb = GeopandasData().from_geodataframe(gdf.iloc[0:100])

sql_enricher = Enricher(connector=SqlConnector(connection_url=URL, 
table_name="extra", column='id', result_attr="extra", dict_keys=["id"], df_column='id'))

data_enriched = sql_enricher.enrich(airbnb)

TypeError: tuple indices must be integers or slices, not str

In [22]:
data_enriched = pd.read_json("./data/airbnb-berlin-enriched-0.json", orient='records')

In [28]:
type(data_enriched.extra[0])

dict

In [36]:
pd.concat([data_enriched, pd.json_normalize(data_enriched['extra'], max_level=0).drop(['index', 'id'], axis=1)], axis=1)

,id,name,neighbourhood,neighbourhood_cleansed,room_type,price,latitude,longitude,extra,amenities,accommodates,beds,bedrooms
0,1944,bright & airy Pberg/Mitte 3 months or more,"Berlin, Germany",Brunnenstr. Nord,Private room,$20.00,52.54425,13.39749,"{'index': 0, 'id': '1944', 'amenities': '[""Dis...","[""Dishes and silverware"", ""Kitchen"", ""Oven"", ""...",1.0,1.0,1.0
1,2015,Berlin-Mitte Value! Quiet courtyard/very central,"Berlin, Germany",Brunnenstr. Süd,Entire home/apt,$59.00,52.53454,13.40256,"{'index': 1, 'id': '2015', 'amenities': '[""Smo...","[""Smoke alarm"", ""Cooking basics"", ""Lockbox"", ""...",3.0,0.0,1.0
2,3176,Fabulous Flat in great Location,"Berlin, Germany",Prenzlauer Berg Südwest,Entire home/apt,$90.00,52.53500,13.41758,"{'index': 2, 'id': '3176', 'amenities': '[""Ded...","[""Dedicated workspace"", ""Hangers"", ""Kitchen"", ...",4.0,2.0,1.0
3,3309,BerlinSpot Schöneberg near KaDeWe,"Berlin, Germany",Schöneberg-Nord,Private room,$29.00,52.49885,13.34906,"{'index': 3, 'id': '3309', 'amenities': '[""Hos...","[""Host greets you"", ""Washer"", ""Hangers"", ""Hot ...",1.0,1.0,1.0
4,6883,Stylish East Side Loft in Center with AC & 2 b...,"Berlin, Germany",Frankfurter Allee Süd FK,Entire home/apt,$79.00,52.51171,13.45477,"{'index': 4, 'id': '6883', 'amenities': '[""Smo...","[""Smoke alarm"", ""Cooking basics"", ""Dishes and ...",2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19853,48597066,Rollstuhlgeeignete Wohnung für zwei in Hönow M...,None,Hellersdorf-Nord,Entire home/apt,$22.00,52.54192,13.60749,"{'index': 19854, 'id': '48597066', 'amenities'...","[""Dedicated workspace"", ""Hangers"", ""Private en...",2.0,1.0,1.0
19854,48599795,Lichtdurchflutete Wohnung,None,Tempelhof,Entire home/apt,$80.00,52.45901,13.41783,"{'index': 19855, 'id': '48599795', 'amenities'...","[""Hot water kettle"", ""Dryer"", ""Hangers"", ""Hot ...",2.0,1.0,1.0
19855,48600069,Bright Twin Capacity 1 At Mitte,None,Alexanderplatz,Private room,"$1,840.00",52.51105,13.40680,"{'index': 19856, 'id': '48600069', 'amenities'...","[""Air conditioning"", ""Hot water"", ""Elevator"", ...",1.0,1.0,1.0
19856,48602039,One Room Apartment,None,Frankfurter Allee Süd FK,Entire home/apt,$25.00,52.49805,13.46587,"{'index': 19857, 'id': '48602039', 'amenities'...","[""Dedicated workspace"", ""Hangers"", ""Kitchen"", ...",1.0,NaN,1.0
19857,48615659,"Schönes, ruhiges Zimmer am Kufürstendamm",None,Düsseldorfer Straße,Private room,$22.00,52.49407,13.32443,"{'index': 19858, 'id': '48615659', 'amenities'...","[""Dedicated workspace"", ""Hangers"", ""Kitchen"", ...",2.0,NaN,1.0